:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid var(--link);
  outline-offset: 2px;
}
